body{
  background-color: #eeecda;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color : #808080;
  height: 0px;
  width: 5%;
}
h1{
 color : #e84a5f;
}

h3
{
  color : #e84a5f;
}
